@charset "UTF-8";
body {
    background-color: #50d0d0;
}
h1 {
    background-color: #489696;
}
.image-row {
    display: flex;
    justify-content: center;
}
.image-item {
    text-align: center;
}
.image-row img{
    width: 500px;
    height: 500px;
    margin: 5px;
}
.image-row .image-item p {
    background-color: #f0f0f0;
    color: #502ea0;
    border-radius: 5px;
    margin: 0 2px;
}
p {
    color: rgba(73, 63, 170, 0.808);
}
footer {
    background-color: azure;
    padding: 2px 10px;
    text-align: center;
}